<span class="contributor"><a title="<%=collaborator.person.name%>"  href="javascript:void(0);" onclick='window.open("/person/<%=collaborator.person.id%>", "title", "height=500,width=390,modal=yes,alwaysRaised=yes");'><img src="<%=collaborator.person.bigger_avatar%>"><!--<span class="name"><%= collaborator.person.name%></span>--></a></span>
