<span class="contributor"><a title="<%=collaborator.person.name%>" href="<%=collaborator.person.uri%>"><img src="<%=collaborator.person.bigger_avatar%>"><!--<span class="name"><%= collaborator.person.name%></span>--></a></span>
