<% @title="J. Nathan Matias: Collaborative Polymath" %>
<div class="container marketing well contributor-matrix">
  <a href="/us" class="btn btn-info">Collaborators</a>
  <% @collaborators.each do |k, collaborator|%>
  <%= render :partial => "collaborator", :locals => {:collaborator=>collaborator[0] }%>
  <% end %>
</div>

<div class="container">
  <div class="row-fluid">
     <%= render :partial => "featured_project", :collection => @featured_projects %>
  </div>
</div>
<hr/>

<div class="container marketing">
 <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span3">
          <!--<img class="img-circle" src="http://farm7.staticflickr.com/6230/6244927104_e8de3dd87e_q.jpg">-->
          <h4>Positions & Orgs</h4>
            <p><strong><a class="label" href="/resources/jnm-CV-Dec2012.pdf"> &nbsp; download c.v. (pdf) &nbsp; </a></strong></p>
            <p>Gradstudent, <a href="http://media.mit.edu/">MIT Media Lab</a></p>
            <p>Fellow, <a href="http://thersa.org">The Royal Society of Arts</a></p>
            <p>Association for Computing Machinery SIGWEB (<a href="http://dl.acm.org/author_page.cfm?id=81100093273">publications</a>)</p>
            <p>2006-08 <a href="http://www.cic.edu/Programs-and-Services/Programs/Pages/Davies-Jackson-Scholarship.aspx">Davies-Jackson Scholar</a></p>
            <p>B.A., M.A. <a href="http://joh.cam.ac.uk">Cambridge University</a></p>
            <p>B.A. <a href="http://etown.edu">Elizabethtown College</a></p>
            <h4>Business</h4>
            <p><a href="http://swiftkey.net">SwiftKey</a>: Predictive Text</p>
            <p><a href="/proj/123">Swift-Speare, Statistical Poetry</a></p>
            <p><a href="http://dresipi.com">Dressipi</a>: Fashion Fingerprint</p>
            <p><a href="/proj/161">Emberlight: Visual Notes Online</a></p>
            <p><a href="/proj/165">Scaling for kgb's Super Bowl Ad</a></p>
            <p><a href="/proj/164">kgb Web Application Integration</a></p>
            <p><a href="/proj/141">Etown.edu Information Architecture</a></p>
            <p><a href="/proj/139">Harbour Coffee Online Sales</a></p>
            <p><a href="/proj/142">Etown College Admissions App</a></p>
            <p><a href="/proj/142">Etown Workstation Dashboard</a></p>
            <p><a href="/proj/"></a></p>
          </ul>
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>MIT Media Lab</h4>
          <p><a href="/proj/172">Networked Tactics for Gender Representation in the News</a></p>
          <p><a href="/proj/106">Festival of Learning 2013</a></p>
          <p><a href="/proj/115">Five Types of Creative Debugging</a></p>
          <p><a href="/proj/103"><strong>Social Mirror</strong> (Nominet Grant)</a></p>
          <p><a href="/proj/107">Lucanus Sapiens</a></p>
          <p><a href="/proj/169">Our Things</a></p>
          <p><a href="/proj/167">Media RDI</a></p>
          <p><a href="/proj/111">Data Forager</a></p>
          <p><a href="/proj/168">Balloon Velcro Construction Kit</a></p>
          <p><a href="/proj/170">Model DNA with Balloons</a></p>
          <p><a href="/proj/169">Our Things</a></p>
          <h4>Design, Art, Story</h4>
          <p><a href="/proj/157">Philadelphia Fullerine (sculpture)</a></p>
          <p><a href="/proj/148">Tinderbox Web Viewer</a></p>
          <p><a href="/proj/125">Visual Summaries</a></p>
          <p><a href="/proj/130">Card Storytelling Software</a></p>
          <p><a href="/proj/145">Read for the Sky</a></p>
          <p><a href="/proj/159">Exhibit: Abolition in Britain</a></p>
          <p><a href="/proj/127">Echoes of America, Literature Radio Show</a></p>
          <p><a href="/proj/126">The Structure of Competitive Debate</a></p>
          <p><a href="/proj/132">Timelines for Citizen Case Management</a></p>
          <p><a href="/proj/147">Syntagmatic Browser</a></p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
          <p><a href="/proj/146">Projects with Tinderbox</a></p>
          <p><a href="/proj/111"></a></p>
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Academic</h4>
          <p><a href="/proj/155">Comparing Spatial Hypertext Collections</a></p>
          <p><a href="/proj/150">Web Art Science Camp 2010</a></p>
          <p><a href="/proj/154">Ethics of Software Documentation</a></p>
          <p><a href="/proj/143">Tragedy in Electronic Literature</a></p>
          <p><a href="/proj/166">CoDE Institute</a></p>
          <p><a href="/proj/156">Philadelphia Fullerine (research)</a></p>
          <p><a href="/proj/149">Truth, Trust, and the Textual Camera</a></p>
          <p><a href="/proj/129">Normative Decision-making Model</a></p>
          <br/><br/>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span3 -->

        <!-- FEATURED BLOG POST -->
        <div class="span3 pull-right">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Featured Posts</h4>
            <%= render :partial => "featured_post", :collection => @featured_posts %>
          </ul>
          <!--<p><a class="btn" href="#">View all &raquo;</a></p>-->
        </div><!-- /.span3 -->

      </div><!-- /.row -->

