<%# encoding: utf-8 %>
<% @title="J. Nathan Matias: Collaborative Polymath" %>
<div class="container marketing well contributor-matrix">
  <a href="/us" class="btn btn-info">Collaborators</a>
  <% @collaborators.each do |k, collaborator|%>
  <%= render :partial => "collaborator", :locals => {:collaborator=>collaborator[0] }%>
  <% end %>
</div>

<div class="container">
  <div class="row-fluid">
     <%= render :partial => "featured_project", :collection => @featured_projects %>
  </div>
</div>
<hr/>

<div class="container marketing">
 <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span3">
          <!--<img class="img-circle" src="http://farm7.staticflickr.com/6230/6244927104_e8de3dd87e_q.jpg">-->
          <h4>Positions & Orgs</h4>
            <p><strong><a class="label" href="/JNM_CV_08.2016.pdf"> &nbsp; download c.v. (pdf) &nbsp; </a></strong></p>
            <p>PhD Candidate, <a href="http://media.mit.edu/">MIT Media Lab</a></p>
            <p>Affiliate, <a href="http://cyber.law.harvard.edu/">Berkman-Klein Center</a>, Harvard</p>
            <p>Association for Computing Machinery (<a href="http://dl.acm.org/author_page.cfm?id=81100093273">publications</a>)</p>
            <p>2013-2016: Fellow, <a href="http://cyber.law.harvard.edu/">Berkman-Klein Center</a>, Harvard</p>
            <p>2014-2015: Fellow, <a href="http://derp.institute/">DERP Institute</a></p>
            <p>2015: PhD Intern, <a href="http://research.microsoft.com/en-us/">Microsoft Research</a> <a href="http://socialmediacollective.org">Social Media Collective</a></p>
            <p>2012-2014: <a href="https://twitter.com/1book140">@1book140</a>, The Atlantic's <a href="http://www.theatlantic.com/entertainment/category/1book140/">Twitter Book Club</a></p>
            <p>2013: Research Intern, Microsoft Research <a href="http://fuse.microsoft.com/">Fuse Labs</a></p>
            <p>2012-13: Fellow, <a href="https://www.thersa.org/about-us/">Royal Society of Arts</a></p>
            <p>2006-08 <a href="http://www.cic.edu/Programs-and-Services/Programs/Pages/Davies-Jackson-Scholarship.aspx">Davies-Jackson Scholar</a></p>
            <p>B.A., M.A. <a href="http://joh.cam.ac.uk">Cambridge University</a></p>
            <p>B.A. <a href="http://etown.edu">Elizabethtown College</a></p>
            <h4>Business</h4>
            <p><a href="http://swiftkey.net">SwiftKey</a>: Predictive Text</p>
            <p><a href="/project/123">Swift-Speare, Statistical Poetry</a></p>
            <p><a href="http://dresipi.com">Dressipi</a>: Fashion Fingerprint</p>
            <p><a href="/project/161">Emberlight: Visual Notes Online</a></p>
            <p><a href="/project/165">Scaling for kgb's Super Bowl Ad</a></p>
            <p><a href="/project/164">kgb Web Application Integration</a></p>
            <p><a href="/project/141">Etown.edu Information Architecture</a></p>
            <p><a href="/project/139">Harbour Coffee Online Sales</a></p>
            <p><a href="/project/142">Etown College Admissions App</a></p>
            <p><a href="/project/142">Etown Workstation Dashboard</a></p>
            <p><a href="/project/"></a></p>
          </ul>
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Academic (selected)</h4>
          <p></p>
          <p>Matias, J. Nathan. (2016) <em><strong><a href="http://natematias.com/media/GoingDark-Matias-2016.pdf">Going Dark: Social Factors In Collective Action Against On- line Platforms in the reddit Blackout</a></strong></em>. CHI 2016. ACM Press. Best Paper Honorable Mention</p>
          <p>Matias, J. Nathan, Sayamindu Dasgupta, and Benjamin Mako Hill. (2016) <em><strong><a href="https://llk.media.mit.edu/papers/matias-skill_progression_CHI2016.pdf">Skill Progression in Scratch Revisited</a></strong></em>. Proceedings of the Conference on Computer Human Interaction (CHI). ACM Press.</p>
          <p>Spiro, E. S., Matias, J. N., &amp; Monroy-Hernandez, A. (2016) <em><strong><a href="http://research.microsoft.com/apps/pubs/?id=265203">Networks of Gratitude: Structures of Thanks and User Expectations in Workplace Appreciation Systems</a></strong></em>. Proceedings of the Tenth International AAAI Conference on Weblogs and Social Media (ICWSM).</p>
          <p> Matias, J. Nathan and Hannah Wallach. (2016) <em><strong><a href="http://cj2015.brown.columbia.edu/papers/gender-discrimination.pdf">Working Paper: Modeling Gender Discrimination by Online News Audiences</a></strong></em>. Computation + Journalism Symposium, Columbia University.</p>
          <p>Matias, J. N Nathan, Amy Johnson, Whitney Erin Boesel, Brian Keegan, Jaclyn Freedman, and Charles DeTar. (2015). <strong></em><a href="arxiv.org/abs/1505.03359">Reporting, reviewing, and responding to harassment on Twitter</a></strong></em>. Double-blind peer review committee chaired by Zeynep Tufekci.</p>
          <p>Matias, J.N.; Agapie, E; D'Ignazio, C. Graeff, E. <em><strong>Challenges for Personal Behavior Change Research on Information Diversity</strong></em>. CHI 2014 Position Paper, Personalized Behavior Change Workshop</p>
          <p>Matias, J.N. Monroy-Hernandez, A. <a href="http://research.microsoft.com/apps/pubs/default.aspx?id=208886">NewsPad: Designing for Collaborative Storytelling in Neighborhoods</a> (CHI 2014 WIP)</p>
          <p><a href="/project/155">Comparing Spatial Hypertext Collections</a></p>
          <p><a href="/project/150">Web Art Science Camp 2010</a></p>
          <p><a href="/project/154">Ethics of Software Documentation</a></p>
          <p><a href="/project/143">Tragedy in Electronic Literature</a></p>
          <p><a href="/project/166">CoDE Institute</a></p>
          <p><a href="/project/156">Philadelphia Fullerine (research)</a></p>
          <p><a href="/project/149">Truth, Trust, and the Textual Camera</a></p>
          <p><a href="/project/129">Normative Decision-making Model</a></p>
          <br/><br/>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Selected Journalism</h4>
          <p>Matias, J.N. (2016) <a href="https://www.theguardian.com/technology/2016/apr/18/a-toxic-web-what-the-victorians-can-teach-us-about-online-abuse">A toxic web: what the Victorians can teach us about online abuse</a>. The Guardian, April 18, 2016.</p>
          <p>Matias, J.N. (2015) <a href="http://www.bostonmagazine.com/news/blog/2015/11/24/boston-holiday-fires/">Which Boston Neighborhoods Are Worst at Holiday Cooking?</a>. Boston Magazine, November 24, 2015.
          <p>Matias, J.N. (2015) <a href="http://www.theatlantic.com/technology/archive/2015/06/were-all-those-rainbow-profile-photos-another-facebook-experiment/397088/">Were All Those Rainbow Profile Photos Another Facebook Study?</a>. The Atlantic, June 28, 2015.</p>
          <p>Matias, J.N. (2015) <a href="http://www.theatlantic.com/technology/archive/2015/06/the-tragedy-of-the-digital-commons/395129/">The Tragedy of the Digital Commons: Advocates for fairer, safer online spaces are turning to the conservation movement for inspiration</a>. The Atlantic, June 8, 2015.</p>
          <h4>MIT Media Lab</h4>
          <p><a href="/project/172">Networked Tactics for Gender Representation in the News</a></p>
          <p><a href="/project/106">Festival of Learning 2013</a></p>
          <p><a href="/project/115">Five Types of Creative Debugging</a></p>
          <p><a href="/project/103"><strong>Social Mirror</strong> (Nominet Grant)</a></p>
          <p><a href="/project/107">Lucanus Sapiens</a></p>
          <p><a href="/project/169">Our Things</a></p>
          <p><a href="/project/167">Media RDI</a></p>
          <p><a href="/project/111">Data Forager</a></p>
          <p><a href="/project/168">Balloon Velcro Construction Kit</a></p>
          <p><a href="/project/170">Model DNA with Balloons</a></p>
          <p><a href="/project/169">Our Things</a></p>
          <h4>Design, Art, Story</h4>
          <p><a href="/project/157">Philadelphia Fullerine (sculpture)</a></p>
          <p><a href="/project/148">Tinderbox Web Viewer</a></p>
          <p><a href="/project/125">Visual Summaries</a></p>
          <p><a href="/project/130">Card Storytelling Software</a></p>
          <p><a href="/project/145">Read for the Sky</a></p>
          <p><a href="/project/159">Exhibit: Abolition in Britain</a></p>
          <p><a href="/project/127">Echoes of America, Literature Radio Show</a></p>
          <p><a href="/project/126">The Structure of Competitive Debate</a></p>
          <p><a href="/project/132">Timelines for Citizen Case Management</a></p>
          <p><a href="/project/147">Syntagmatic Browser</a></p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
          <p><a href="/project/146">Projects with Tinderbox</a></p>
          <p><a href="/project/111"></a></p>
        </div><!-- /.span3 -->

        <!-- FEATURED BLOG POST -->
        <div class="span3 pull-right">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Featured Posts</h4>
            <%= render :partial => "featured_post", :collection => @featured_posts %>
          </ul>
          <!--<p><a class="btn" href="#">View all &raquo;</a></p>-->
        </div><!-- /.span3 -->

      </div><!-- /.row -->

