<% @title="J. Nathan Matias: Collaborative Polymath" %>
<div class="container marketing well contributor-matrix">
  <a href="/us" class="btn btn-info">Collaborators</a>
  <% @collaborators.each do |k, collaborator|%>
  <%= render :partial => "collaborator", :locals => {:collaborator=>collaborator[0] }%>
  <% end %>
</div>

<div class="container">
  <div class="row-fluid">
     <%= render :partial => "featured_project", :collection => @featured_projects %>
  </div>
</div>
<hr/>

<div class="container marketing">
 <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span3">
          <!--<img class="img-circle" src="http://farm7.staticflickr.com/6230/6244927104_e8de3dd87e_q.jpg">-->
          <h4>Positions & Orgs</h4>
            <p><strong><a class="label" href="/resources/jnm-CV-Dec2012.pdf"> &nbsp; download c.v. (pdf) &nbsp; </a></strong></p>
            <p>Gradstudent, <a href="http://media.mit.edu/">MIT Media Lab</a></p>
            <p>Fellow, <a href="http://thersa.org">The Royal Society of Arts</a></p>
            <p>Association for Computing Machinery SIGWEB (<a href="http://dl.acm.org/author_page.cfm?id=81100093273">publications</a>)</p>
            <p>2006-08 <a href="http://www.cic.edu/Programs-and-Services/Programs/Pages/Davies-Jackson-Scholarship.aspx">Davies-Jackson Scholar</a></p>
            <p>B.A., M.A. <a href="http://joh.cam.ac.uk">Cambridge University</a></p>
            <p>B.A. <a href="http://etown.edu">Elizabethtown College</a></p>
          </ul>
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>MIT Media Lab</h4>
          <p><a href="/proj/172">Networked Tactics for Gender Representation in the News</a></p>
          <p><a href="/proj/106">Festival of Learning 2013</a></p>
          <p><a href="/proj/115">Five Types of Creative Debugging</a></p>
          <p><a href="/proj/103">Social Mirror</a></p>
          <p><a href="/proj/107">Lucanus Sapiens</a></p>
          <p><a href="/proj/169">Our Things</a></p>
          <p><a href="/proj/167">Media RDI</a></p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span3 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Academic</h4>
          <p><a href="/proj/155">Comparing Spatial Hypertext Collections</a></p>
          <p><a href="/proj/150">Web Art Science Camp 2010</a></p>
          <p><a href="/proj/154">Ethics of Software Documentation</a></p>
          <p><a href="/proj/143">Tragedy in Electronic Literature</a></p>
          <p><a href="/proj/166">CoDE Institute</a></p>
          <p><a href="/proj/156">Philadelphia Fullerine (research)</a></p>
          <br/><br/>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span3 -->

        <!-- FEATURED BLOG POST -->
        <div class="span3 pull-right">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Featured Blog Posts</h4>
            <%= render :partial => "featured_post", :collection => @featured_posts %>
          </ul>
          <p><a class="btn" href="#">View all &raquo;</a></p>
        </div><!-- /.span3 -->

        <div class="span3 first-item">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Talks</h4>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span3 -->

        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Business</h4>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span3 -->

        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140">
          <h4>Design &amp; Art</h4>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span3 -->



      </div><!-- /.row -->

