<span class="contributor">
<nobr>
<a href="<%=project_person.person.uri%>">
<img class="img-circle" src="<%=project_person.person.avatar%>"><%=project_person.person.name%></a>, <%=project_person.label%>
</nobr>
</span>
