.contributors_full {
    background: none repeat scroll 0 0 #F6F6F6;
    border-radius: 3px 3px 3px 3px;
    display: block;
    left: 0;
    max-width: 225px;
    min-width: 120px;
    padding: 3px;
    position: absolute;
    top: 10px;
    width: auto;
    z-index: 100;
}
.contributors_full .contributor {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px 5px 5px;
}
.contributor:hover {
    background: none repeat scroll 0 0 #99CCFF;
}
.contributor img {
    height: 24px;
    margin-right: 5px;
}
.contributors {
    cursor: pointer;
    display: inline-block;
}
.contributors a {
    color: #555555;
}
.contributors a:hover {
    text-decoration: none;
}
.acknowledge-block{
  border-bottom:1px solid #ccc;
}
.acknowledge-block .contributor {
/*    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 8px 8px 8px 8px;*/
    display: inline-block;
    margin-bottom:2px;
    margin-right: 5px;
    margin-left:5px;
    padding: 2px 2px 2px 2px;
}
.acknowledge-block .contributor:hover {
    background: none repeat scroll 0 0 white;
}

.acknowledge-matrix .contributor{
  display:inline-block;
  padding:2px;
  margin:0px;
  position:relative;
  width:98px;
  height:98px;
}

.acknowledge-matrix .contributor .label{
  position:absolute;
  top:0px;
  left:0px;
}

.acknowledge-matrix .contributor a:hover{
  text-decoration:none;
}

.acknowledge-matrix .name{
  background:black;
  color:white;
  font-weight:bold;
  position:absolute;
  bottom:2px;
  left:2px;
  width:94px;
  display:none;
}

.acknowledge-matrix img{
  width:94px;
  height:94px;
}

.acknowledge-matrix .contributor:hover .name{
  display:inline;
}
/*   Contributor matrix on index page         */
.contributor-matrix .contributor{
  display:inline-block;
}
.contributor-matrix img{
  width:32px;height:32px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:2px;
  vertical-align:middle;
}

.contributor-matrix .contributor{
  margin:0px;
}

.contributor-matrix .contributor:hover{
  background:none !important;
  text-decoration:none;
}
