<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/resources/main.css" rel="stylesheet">
    <link href="/resources/acknowledge.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>

<!-- TOP OF PAGE -->
  <div class="container marketing well">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/resources/natematias.png" width="180" height="180">
        <h2 class="top-featurette-heading">J. Nathan Matias &nbsp; &nbsp; <span class="muted">MIT Media Lab</span></h2>
        <p class="lead">I <a href="/us/">collaborate</a> on technology and communities which empower people to become more creative, more effective, and more informed. I currently research and create technology for cooperation across diversity at the <a href="http://civic.mit.edu">MIT Center for Civic Media</a> and the <a href="http://cyber.law.harvard.edu">Berkman Center</a> at Harvard.</p>
        	<p><a href="https://twitter.com/natematias">Follow me at @natematias</a> | <a href="http://civic.mit.edu/users/natematias"><i class="icon-right"> </i> read my blog</a></li> | <a href="http://flickr.com/photos/natematias">photos</a> | <a href="https://twitter.com/1book140">@1book140</a></p>
      </div>

  </div>

<%= yield %>


<hr/>
      <!-- FOOTER -->
     <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>        <p>&copy; 2012 J. Nathan Matias. Many of my projects are Open Source. I like meeting people &amp; hearing about projects, so <a href="mailto:natematias@gmail.com">email me</a> or <a href="http://twitter.com/natematias">follow @natematias</a> on Twitter</p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<!--    <script src="./bootstrap/js/jquery.js"></script>
    <script src="./bootstrap/js/bootstrap-transition.js"></script>
    <script src="./bootstrap/js/bootstrap-alert.js"></script>
    <script src="./bootstrap/js/bootstrap-modal.js"></script>
    <script src="./bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="./bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="./bootstrap/js/bootstrap-tab.js"></script>
    <script src="./bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="./bootstrap/js/bootstrap-popover.js"></script>
    <script src="./bootstrap/js/bootstrap-button.js"></script>
    <script src="./bootstrap/js/bootstrap-collapse.js"></script>
    <script src="./bootstrap/js/bootstrap-carousel.js"></script>
    <script src="./bootstrap/js/bootstrap-typeahead.js"></script>-->
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
